html {
    font-family: Arial;
    background-color: #a2b9bc;
}

php {
    font-family: Arial;
    background-color: #a2b9bc;
}
  
header {
    background-color: #6b5b95;
    padding: 15px;
}

footer {
    background-color: #878f99;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

nav a {
    display: block;
    text-decoration: none;
    margin: 0;
    text-align: center;
    padding: 8px;
    margin-bottom: 7px;
    background-color: #b2ad7f;
    color: #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                0 1px 2px rgba(0, 0, 0, 0.24);
    transition: transform 0.5s;
}
  
nav a:hover {
    background-color: #878f99;
}

a:hover {
    background-color: #878f99;
}

a:link {
    text-decoration: none;
}

#main {
    margin-right: auto;
    width: 70%;
}

.important {
    color: red;
} 

.highlight {
    background-color: yellow;
}

.game {
    display: inline-block;
    text-align: center;
    min-width: 500px;
    min-height: 10px;
    margin: 1em;
    border: 1px;
    vertical-align: top;
    border-radius: 5px;
    border-color:  #b2ad7f;
    background-color:  #b2ad7f;
}

.loginsignup {
    margin-left: 100px;
}

/* RWD starts here */

/* This ensures the padding and border are included
in the total width and height of an element. */
* {
    box-sizing: border-box;
}
  
img, video, canvas {
    max-width: 100%;
    height: auto;
}
  
  /* The columns inside a row float to the left, and 
  are therefore taken out of the flow of the page, and
  other elements will be placed as if the columns do
  not exist. To prevent this, we will add a style that
  clears the flow. See what happens if you
  1) comment out the command below and
  2) change the class of footer from col-12 to col-2. 
  */
.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
  
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
  
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}